{% set 
tabs = [
	{
		link: 'Tab 1',
		content: [
		    {
		        image: 'http://lorempixel.com/200/200/city/1',
		        title: 'Tab 1 Title 1',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Jun 02',
		        info: 'Something No. 1',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/1',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    },
		    {
		        image: 'http://lorempixel.com/200/200/city/2',
		        title: 'Tab 1 Title 2',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Jun 05',
		        info: 'Something No. 2',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/2',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    },
		    {
		        image: 'http://lorempixel.com/200/200/city/3',
		        title: 'Tab 1 Title 3',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Jul 26',
		        info: 'Something No. 3',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/3',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    },
		    {
		        image: 'http://lorempixel.com/200/200/city/4',
		        title: 'Tab 1 Title 4',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Jul 28',
		        info: 'Something No. 4',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/4',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    }
		]
	},
	{
		link: 'Tab 2',
		content: [
		    {
		        image: 'http://lorempixel.com/200/200/city/5',
		        title: 'Tab 2 Title 1',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Aug 20',
		        info: 'Something No. 1',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/5',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    },
		    {
		        image: 'http://lorempixel.com/200/200/city/6',
		        title: 'Tab 2 Title 2',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Sep 04',
		        info: 'Something No. 2',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/6',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    },
		    {
		        image: 'http://lorempixel.com/200/200/city/7',
		        title: 'Tab 2 Title 3',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Oct 15',
		        info: 'Something No. 3',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/7',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    },
		    {
		        image: 'http://lorempixel.com/200/200/city/8',
		        title: 'Tab 2 Title 4',
		        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, iusto?',
		        date: 'Oct 24',
		        info: 'Something No. 4',
		        popup: {
		            image: 'http://lorempixel.com/400/400/city/8',
		            list: ['text1', 'text2', 'text3', 'text4']
		        }
		    }
		]
		
	}
] 
%}