.icon-close {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
